
 body{
   background-image: url("images/background.jpeg");
   background-size: cover;
   height: 500px; 
 }

 input.toEdit{
  margin: 0.1rem;
width: 6rem;
font-size: 1rem;
text-align: center;
 }
 .card{
  background: blue;
 }
 


