/**
 * Your CSS goes here.
 */
#madLibsEdit {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  border-radius: 20px;
  margin: 100px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 60%;
  max-width: 70%;
  min-height: 60%;
  max-height: 70%;
}
#madLibsPreview {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  border-radius: 20px;
  margin: 100px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  min-width: 60%;
  max-width: 70%;
  min-height: 60%;
  max-height: 70%;
}

body {
  background-image: url("images/cartoon.webp");
  background-size: cover;
  height: auto;
}
input.toEdit {
  margin: 0.1rem;
  width: 6rem;
  font-size: 1rem;
  text-align: center;
}
.blank {
  margin-inline: 1em;
}
p {
  font-size: 1.5rem;
  background-color: rgba(255, 0, 0, 0.467);
}
